<head>
  
</head>


<div>
    <h1>Buscar</h1>
    <form action="/buscarFuncionario/" method="post">
        <input type="text" required name="id">
        <input type="submit" value="Buscar">
    </form>
    <button><a href="/funcionario">Voltar</a></button>
</div>
























  <!--><style>
        body {
            background-image: linear-gradient(to right top, #081b2e, #091725, #07121c, #050c13, #030405);
            color: #fff;
        }
        div{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 15rem;
        }
        div h1{
            font-size: 40px;
        }
        form input{
            padding: .7rem;
        }
        button a{
            text-decoration: none;
            color: #000;
        }
    </style><!-->