<head>
  <link rel="stylesheet" href="styles.css">
</head>


<div class='rotas'>
  <h1>Academia</h1>
  <ul>
    <li>
      <a href="http://localhost:3200/mensalidades">Mensalidades</a>
    </li>
    <li>
      <a href="http://localhost:3200/produto">Produtos</a>
    </li>
    <li>
      <a href="http://localhost:3200/funcionario">Funcionarios</a>
    </li>
    <li>
      <a href="http://localhost:3200/avaliacao">Avaliação</a>
    </li>
    <li>
      <a href="http://localhost:3200/aluno">Aluno</a>
    </li>
  </ul>
</div>