<head>
    <link rel="stylesheet" href="styles.css">
</head>

<div class="form-control">
    <h1>Registros de Avaliações</h1>
    
    <form action="/cadastrarAvaliacao" method="post">
        <input type="text" required name="alunos" placeholder="Digite o nome do aluno ">
        <input type="text" required name="idade" placeholder="Digite a idade do aluno">
        <input type="text" required name="peso" placeholder="Digite o peso do aluno">
        
        <input type="submit">
    </form>
    <div class="btn-control">
        <button><a href="/avaliacao">avaliacao</a></button>
        <button><a href="/buscaravaliacao">Buscar</a></button>
    </div>
</div>