<head>
    <link rel="stylesheet" href="styles.css">
</head>
<div class="form-control">
    <h1>Cadastrar Aluno</h1>
    <form action="/cdalnpost" method="post">
        <input type="text" required name="nome" placeholder="Digite o nome do aluno...">
        <input type="text" required name="peso" placeholder="Digite o peso do aluno...">
        <input type="text" required name="altura" placeholder="Digite a altura do aluno...">
        <input type="text" required name="telefone" placeholder="(XX) XXXXX-XXXX">
        <input type="submit">
    </form>
    <div class="btn-control">
        <button><a href="/aluno">Alunos</a></button>
        <button><a href="/buscaraluno">Buscar</a></button>
    </div>
</div>