<head>
    <link rel="stylesheet" href="styles.css">
</head>

<div class="form-control">
    <h1>Registros de Funcionarios</h1>
    
    <form action="/cadastrarfuncionario" method="post">
        <input type="text" required name="nome" placeholder="Digite o nome do professor">
        <input type="text" required name="matricula" placeholder="Digite o número da sua matricula">
        <input type="text" required name="telefone" placeholder="Número de telefone">
        <input type="text" required name="endereco" placeholder="Endereço">
        
        <input type="submit">
    </form>
    <div class="btn-control">
        <button><a href="/funcionario">Funcionarios</a></button>
        <button><a href="/buscarFuncionario">Buscar</a></button>
    </div>
</div>