<head>
    <link rel="stylesheet" href="styles.css">
</head>
<div class="form-control">
    <h1>Cadastrar Produto</h1>
    <form action="/cadmatpost" method="post">
        <input type="text" required name="nome" placeholder="Digite o nome da matéria...">
        <input type="text" required name="preco" placeholder="Digite o preço...">
        <input type="text" required name="descricao" placeholder="Digite a descrição...">
        <input type="submit">
    </form>
    <div class="btn-control">
        <button><a href="/produto">Produtos</a></button>
        <button><a href="/buscarproduto">Buscar</a></button>
    </div>
</div>